---
- name: Copy the nginx configuration file
  template:
    src: nginx.conf.j2
    dest: "{{ nginx_conf_dir }}/nginx.conf"
    backup: yes
    validate: 'nginx -t'
  notify: restart nginx

- name: Remove old Diffie-Hellman params
  file:
    path: "{{ nginx_conf_dir }}/dhparam.pem"
    state: absent
  when: nginx_dh_remove_old

- name: Create {{ nginx_dh_bits }}bit Diffie-Hellman
  command: "openssl dhparam {{ '-dsaparam' if nginx_dh_bits > 2048 else '' }} -out {{ nginx_conf_dir }}/dhparam.pem {{ nginx_dh_bits }}"
  args:
    creates: "{{ nginx_conf_dir }}/dhparam.pem"
  when: nginx_ssl_enable

- name: Letsencrypt snippet
  template:
    src: letsencrypt.conf.j2
    dest: "{{ nginx_conf_dir }}/snippets/letsencrypt.conf"
  when: nginx_ssl_enable

- name: Create snippets
  template:
    src: config.conf.j2
    dest: "{{ nginx_conf_dir }}/snippets/{{ item.key }}.conf"
    validate: 'nginx -t'
  with_dict: "{{ nginx_snippets }}"
  notify: reload nginx

- name: Create sites configurations
  template:
    src: "{{ item.value.template | default('site.conf.j2') }}"
    dest: "{{ nginx_conf_dir }}/sites-available/{{ item.key }}"
    backup: yes
    validate: 'nginx -t'
  with_dict: "{{ nginx_sites }}"
  notify: reload nginx

- name: Create links for sites-enabled
  file:
    state: link
    src: "{{ nginx_conf_dir }}/sites-available/{{ item.key }}"
    dest: "{{ nginx_conf_dir }}/sites-enabled/{{ item.key }}"
  with_dict: "{{ nginx_sites }}"
  when: item.key not in nginx_remove_sites
  notify: reload nginx

- name: Create password file
  htpasswd:
    path: /etc/nginx/htpasswd
    name: "{{ nginx_basic_auth_user }}"
    password: "{{ nginx_basic_auth_pass }}"
    state: present
  when: nginx_basic_auth_pass != "" and nginx_basic_auth_user != ""
