#{{ ansible_managed }}

user {{ nginx_user }} {{ nginx_group }};
worker_processes auto;
pid /var/run/nginx.pid;

events {
{% for v in nginx_events_params %}
  {{ v }};
{% endfor %}
}

http {
  include {{ nginx_conf_dir }}/mime.types;
  default_type application/octet-stream;
{% for v in nginx_http_params %}
  {{ v }};
{% endfor %}

  map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
  }

  include {{ nginx_conf_dir }}/conf.d/*.conf;
  include {{ nginx_conf_dir }}/sites-enabled/*;
}
