#{{ ansible_managed }}

{% set upstreams = item.value.upstreams %}
{% set servers = item.value.servers %}
{# CONFIGURE UPSTREAMS #}
{% for key, value in upstreams.iteritems() %}
upstream {{ key }} {
{% for v in value %}
  {{ v.replace(";","") }};
{% endfor %}
}
{% endfor %}

{# CONFIGURE VHOSTS #}
{% for key, value in servers.iteritems() %}
server {
{% for v in value %}
{% set v = v.rstrip(';') %}
{% if v.find('\n') != -1 %}
  {{v.replace("\n","\n  ")}}
{% else %}
  {% if v != "" %}{{ v.replace(";",";\n   ").replace(" {"," {\n   ").replace(" }"," \n  }\n") }}{% if v.find('{') == -1 %};
{% endif %}{% endif %}{% endif %}
{% endfor %}
{% if nginx_metrics %}
  location /nginx_status {
    stub_status on;
    access_log off;
    allow 127.0.0.1;
    deny all;
  }
{% endif %}
}

{% endfor %}

